<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    {% if user.is_authenticated %}

    <div class="container">
        <a class="navbar-brand" href="{% url 'core-index' %}">Game Night Inventory</a>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link active" href="{% url 'core-index' %}">Home<span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle text-white" type="button" id="menu1" data-toggle="dropdown">Stock
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                        <li role="presentation"> <a role="menuitem" tabindex="-1" class="text-black" href="{% url 'core-products' %}">Products</a></li>
                        <li role="presentation"> <a role="menuitem" tabindex="-1" class="text-black" href="{% url 'core-orders' %}">Orders</a></li>
                        <li role="presentation"> <a role="menuitem" tabindex="-1" class="text-black" href="{% url 'core-categories' %}">Categories</a></li>
                        <li role="presentation"> <a role="menuitem" tabindex="-1" class="text-black" href="{% url 'core-series' %}">Series</a></li>
                    </ul>
                  </div>
            </li>
            <li class="nav-item">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle text-white" type="button" id="menu1" data-toggle="dropdown">Users
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                        <li role="presentation"> <a role="menuitem" tabindex="-1" class="text-black" href="{% url 'core-clients' %}">Clients</a></li>
                        <li role="presentation"> <a role="menuitem" tabindex="-1" class="text-black" href="{% url 'core-employees' %}">Employees</a></li>
                        <li role="presentation"> <a role="menuitem" tabindex="-1" class="text-black" href="{% url 'core-vendors' %}">Vendors</a></li>
                    </ul>
                  </div>
            </li>

            <li class="nav-item">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle text-white" type="button" id="menu1" data-toggle="dropdown">Delivery
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                        <li role="presentation"> <a role="menuitem" tabindex="-1" class="text-black" href="{% url 'core-shipments' %}">Shipments</a></li>
                        <li role="presentation"> <a role="menuitem" tabindex="-1" class="text-black" href="{% url 'core-contracts' %}">Contracts</a></li>
                        <li role="presentation"> <a role="menuitem" tabindex="-1" class="text-black" href="{% url 'core-payments' %}">Payments</a></li>
                    </ul>
                  </div>
            </li>

            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link text-white" href="{% url 'auth-profile' %}">Profile<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'auth-logout' %}">Logout</a>
                </li>
            </ul>
            {% else %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link text-white" href="{% url 'auth-register' %}">Register<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'auth-login' %}">Login</a>
                </li>
            </ul>
            {% endif %}            
        </div>
    </div>
  </nav>